
<section class="deleted-panel">
	<h3>Deleted Tasks</h3>
	<ul>
		<li class="deleted-task-item" *ngFor="let task of deletedTasks()">
			<span>{{ task.title }}</span>
			<button (click)="restoreTask(task.id)" aria-label="Restore Task">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10v6a1 1 0 001 1h6m10-11l-5.5 5.5M21 3l-6.5 6.5" />
				</svg>
				Restore
			</button>
		</li>
	</ul>
</section>
